<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bible Soap Opera Demo</title>
        <meta name="description" content="An Interactive Audio Soap Opera">
        <meta name="author" content="Tim Roediger">
        <meta name="keywords" content="blah">
        
        <link rel="icon shortcut" type="image/png" href="data:image/png;base64,{% include '../../temp/favicon.base64' %}" />
                
    </head>
    <body>

        <h1>BSO Demo launch page</h1>
        
        <p>This is an experimental demo.</p><p>It has been developed with firefox, and is not tested on other browsers.</p><p>The UI is designed for a small screen (320x480) landscape. Press <code>ctrl-shift-m</code> in firefox to change your screen size.</p><p>Enjoy!</p>
        
        <h1><a href="app/" target="_blank">Launch native</a></h1>
        <p>Start the demo in a new browser tab</p>
        
        <h1><a href="simulation.html" target="_blank">Launch phone simlulation</a></h1>
        <p>Start the demo with a simulated phone screen size</p>        
    </body>
</html>
