<template data-slide='audio'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner audio'>
                    <p class='text'></p>
                    <div class="track-container">
                        <div class="track">
                            <div class='progress'></div>                                  
                        </div>
                        <div class="grip"></div>                       
                        <div class="left">
                            <a class='btn sprite action play pulse'></a>
                        </div>
                        <div class="right">
                            <a class='btn sprite vol-minus'></a>
                            <div class='vol-track'>
                                <div class='vol-grip'></div>
                            </div>                             
                            <a class='btn sprite vol-plus'></a>                                                   
                        </div>                         
                    </div>              
                </div>
            </div>
        </div>
    </div>        
</template>

