<div class='template' data-slide='pick'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner pick'>
                    <p class='question'></p>
                    <ul class='answers'></ul>
                </div>
            </div>
        </div>
    </div>        
</div>
