.slide .pick {
    
    ul {
        padding: 0;
    }
    
    li {
        list-style-type: none;
        padding: 10px 0;
        margin: 10px 0;
        cursor: pointer;  
        border-radius: 2px 2px 2px 2px;     
        background-color: fade(@white, 10%);          
    }
        
    li:hover {
        background-color: fade(@white, 20%);     
    }
    
    li.active {
        background-color: fade(@white, 40%);        
    }
    
    li.active:hover {        
        background-color: fade(@white, 40%);       
    }
    
    .answers {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

