<template data-slide='slider'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner slider'>
                    <p class='question'></p>
                    <div class="track-container">
                        <div class="track"></div>
                        <div class="grip"></div>
                        <div class="left"></div>
                        <div class="right"></div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>        
</template>
