<div class='template' data-slide='sort'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner sort'>
                    <p class='question'></p>
                    <div class='answer-container'>
                        <div class="row">
                            <div class="numbers"></div>
                            <div class="answers">
                                <div class="answer hidden drag"></div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>        
</div>
