<div class='template' data-slide='sort'>
  <p class='question'></p>
  <div class='answer-container'>
    <div class="row">
      <div class="numbers"></div>
      <div class="answers">
        <div class="answer hidden drag"></div>
      </div>
    </div>
  </div>
</div>
