.btn {
  border: 0;
  background-color: @color500;
  display: inline-block;
}

.btn:hover {
  background-color: @color300;
}

.btn.round {
  width: 15vh;
  height: 15vh;
  border-radius: 7.5vh;
}

.btn.round.small {
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
}

.btn.down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.btn.up {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.btn.right {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

