.btn {
  border: 0;
  background-color: @color500;
  display: inline-block;
}

.btn:hover {
  background-color: @color300;
}

.btn.round {
  .shaddow0;

  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
}

.btn.down {
  transform: rotate(90deg);
}

.btn.up {
  transform: rotate(-90deg);
}

.btn.right {
  transform: rotate(180deg);
}

