.hidden, .template {
  display: none;
}

.shaddow0 {
  box-shadow: 0 0 4vw @shaddow;
}

.shaddow1 {
  box-shadow: 0 0 1vw @shaddow;
}

p {
 margin: 0;
}

a {
  color: @color700;
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
