@font-family: Sans-Serif;
@font-weight: 300;

@font0: 24px;
@font1: 20px;
@font2: 16px;

.font0 {
  font-size: @unit0 * @font0;

  @media @media1 {
    font-size: @unit1 * @font0;
  }

  @media @media2 {
    font-size: @unit2 * @font0;
  }

  @media @media3 {
    font-size: @unit3 * @font0;
  }
}

.font1 {
  font-size: @unit0 * @font1;

  @media @media1 {
    font-size: @unit1 * @font1;
  }

  @media @media2 {
    font-size: @unit2 * @font1;
  }

  @media @media3 {
    font-size: @unit3 * @font1;
  }
}

.font2 {
  font-size: @unit0 * @font2;

  @media @media1 {
    font-size: @unit1 * @font2;
  }

  @media @media2 {
    font-size: @unit2 * @font2;
  }

  @media @media3 {
    font-size: @unit3 * @font2;
  }
}

