.btn.previous, .btn.next {
  background-size: (30px * @sprite-count) 30px;     
  background-position: (30px * 10) 0;  
  position: fixed;
  z-index: 1;
  bottom: 10px; 
}

.btn.previous:hover, .btn.next:hover {
  background-color: fade(@white, 20%);       
}

.btn.previous.disabled, .btn.next.disabled {
  opacity: 0.5;
  cursor: inherit;
}

.btn.previous.disabled:hover, .btn.next.disabled:hover {
  background-color: fade(@white, 0%);
}

.btn.previous.hidden, .btn.next.hidden {
  display: none;
}

.btn.previous {    
  left: 10px;
  transform: rotate(180deg);  
}

.btn.next {    
  right: 10px;
}
