//Define basic color palette
@white: #ffffff;
@weak: #f1f7f9;
@primary-light: #a6d3f4;
@primary: #67c8e9;
@strong-light: #4e6070;
@strong: #4e6070;
@highlight: #cf5377;

@font-size: 20px;
@font-family: Sans-Serif;

@nav-background-color: @primary;
@nav-font-size: 15px;

@nav-title-font-color: @white;
@nav-title-font-weight: 700;

@slide-background-color: @weak;
@slide-text-color: @strong;
@slide-font-size: 100%;

@btn-font-color: @white;
@btn-hover-font-color: @strong;
@btn-disabled-color: @primary-light;
@btn-color: @primary;