<div class="template" data-slide='support'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner support'>
                    <h1>Sorry your broswer can't run the Bible Soap Opera app</h1>
                    <p class='message'>Message here</p>
                    <p>We suggest you use a recent version of Firefox or Chrome</p>
                </div>
            </div>
        </div>
    </div>        
</div>
