<div class="template" data-slide='support'>
  <h1>Sorry your broswer can't run the Bible Soap Opera app</h1>
  <p class='message'>Message here</p>
  <p>We suggest you use a recent version of Chrome</p>
</div>
