.screen.Menu.episode-active {
  overflow: hidden;
}

.screen.Menu {
  text-align: left;
  overflow-y: scroll;

  @colapsed-height: 11vw;
  @border-thickness: 0.4vw;

  .episode {
    overflow: hidden;
    height: @colapsed-height;
    border-bottom: @border-thickness solid @white;
    transition-property: height;
    transition-duration: 1s, 1s;

    div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 100vh;
    }

    .title {

      a {
        font-style: normal;
        display: block;
        height: 5vw;
        width: 94vw;
        padding: 3vw;
      }

      a:hover {
        text-decoration: none;
        background-color: @color300;
      }
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      padding-left: 9vw;
      padding-right: 9vw;
      flex: 2;

      p {
        width: 100%;
      }

      .summary {
        flex: 2;
        padding-top: 3vw;
      }

      .buttons {
        padding-bottom: 9vw;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }

  .episode.active {
    height: 100vh;

    .title {
      pointer-events: none;
      cursor: default;
    }

    a:hover{
      background-color: inherit;
    }
  }

  .wrap {
    position: relative;
    transition-property: top;
    transition-duration: 1s, 1s;
    top: 0;
  }
}

