<div class="template menu">
  <div>
    <p class="title"></p>
    <div class="content">
      <p class="subtitle font2"></p>
      <p class="summary font1"></p>
      <p class="buttons">
        <a href="#menu" class="back btn round up arrow shaddow0"></a>
        <a class="start btn round down arrow shaddow0"></a>
      </p>
    </div>
  </div>
</div>
