.screen .Menu {
  text-align: left;

  @title-padding: 10px;


  .episode {
    overflow: hidden;
    height: 28px + @title-padding * 2;
    border-bottom: 2px solid @white;
  }

  .episode:hover {
    background-color: @color300;
  }

  .episode.active {
    height: 100vh;

    .title {
      pointer-events: none;
      cursor: default;
    }
  }

  .episode.active:hover {
    background-color: inherit;
  }

  .title {
    a {
      font-style: normal;
      display: block;
      padding: @title-padding;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
