.screen .Menu {
  text-align: left;

  @title-padding: 10px;

  .episode {
    overflow: hidden;
    height: 28px + @title-padding * 2;
    border-bottom: 2px solid @white;
  }

  .episode:hover {
    background-color: @color300;
  }

  .title {
    padding: @title-padding;
  }
}
