<div class="template" data-slide='html'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner html'>
                    <p class='content'></p>
                </div>
            </div>
        </div>
    </div>        
</div>
