<div class="template feedback">
  <div class="feedback-arrow"></div>
  <div class="box">
    <div class="feedback-text"></div>
    <div class="actions">
      <div class="redo btn small round redo"></div>
      <div class="next btn small round arrow left"></div>
    </div>
  </div>
</div>
