//Define basic color palette
@light: #efffcd;
@medium-light: #dce9be;
@medium-dark: #555152;
@dark: #2e2633;
@highlight: #99173c;

@font-size: 30px;
@font-family: Sans-Serif;

@nav-background-color: @dark;
@nav-font-size: 15px;

@nav-logo-font-color: @highlight;
@nav-logo-font-weight: 700;

@screen-background-color: @light;
@screen-text-color: @medium-dark;
@screen-font-size: 100%;
