.slide .audio {

  .track-container {
    position: relative;
    height: 100px;
    width: 300px;
    padding-top:2.5px;
    margin-left: auto;
    margin-right: auto;
  }
  .track {
    width: 300px;
    height: 5px;
    background-color: @color100;
    border-radius: 2.5px 2.5px 2.5px 2.5px;

    .progress {
      width: 0;
      height: 5px;
      background-color: fade(@white, 50%);
      border-radius: 2.5px 2.5px 2.5px 2.5px;
    }

    .progress:hover {
      cursor: pointer;
    }
  }

  .grip {
    width: 10px;
    height: 10px;
    background-color: fade(@white, 80%);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 0px;
    left: -2.5px;
  }

  .grip:hover {
    background-color: @white;
    cursor: pointer;
  }

  .left, .right{
    position: absolute;
  }

  .left {
    top: 15px;
    left: 0px;
  }

  .right {
    top: 15px;
    right: 0px;
  }

  .btn:hover {
    background-color: fade(@white, 20%);
  }

  .play {
    background-size: (30px * @sprite-count) 30px;
    background-position: (30px * 6) 0;
  }

  .pulse {
    background-color: fade(@white, 20%);
    -webkit-animation: pulse 1.5s infinite; /* Chrome, Safari, Opera */
    animation: pulse 1.5s infinite;
  }

  @-webkit-keyframes pulse {
    0%, 80%, 100% {
      background-color: fade(@white, 20%);
    } 40% {
      background-color: fade(@white, 10%);
    }
  }

  @keyframes pulse {
    0%, 80%, 100% {
      background-color: fade(@white, 20%);
    } 40% {
      background-color: fade(@white, 10%);
    }
  }

  .pause {
    background-size: (30px * @sprite-count) 30px;
    background-position: (30px * 5) 0;
  }

  .vol-plus, .vol-minus {
    opacity: 0.8;
  }

  .vol-plus {
    background-size: (30px * @sprite-count) 30px;
    background-position: (30px * 4) 0;
  }

  .vol-minus {
    background-size: (30px * @sprite-count) 30px;
    background-position: (30px * 3) 0;
  }

  .vol-track {
    background-color: fade(@white, 20%);
    height: 30px;
    width: 5px;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    display: inline-block;
  }

  .vol-grip {
    background-color: fade(@white, 60%);
    height: 15px;
    width: 5px;
    top: 15px;
    position: relative;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
  }
}

