<template data-slide='audio'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner'>
                    <p>Listen to the drama ...</p>
                    <button class='btn play' data-attach='play'></button>
                    <button class='btn pause' data-attach='pause'></button>
                    <button class='btn minus' data-attach='minus'></button>
                    <button class='btn plus' data-attach='plus'></button>
                </div>
            </div>
        </div>
    </div>        
</template>
