<template data-slide='audio'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner audio'>
                    <p>Listen to the drama ...</p>
                    <div class="track-container">
                        <div class="track"></div>
                        <div class="grip"></div>                       
                        <div class="left">
                            <button class='btn play'></button>
                        </div>
                        <div class="right">
                            <button class='btn vol-minus'></button>
                            <button class='btn vol-plus'></button>                            
                        </div>                         
                    </div>                       
                </div>
            </div>
        </div>
    </div>        
</template>

