<div class='slide active loading'>
    <div class='slide-inner info'>
        <div class='slide-container'>
            <div class='slide-container-inner'>
                {% include 'spinner.twig' %}         
            </div>
        </div>
    </div>
</div>
