<div data-slide="loading" class='slide active'>
    <div class='slide-inner info'>
        <div class='slide-container'>
            <div class='slide-container-inner'>
                Loading episode ...
            </div>
        </div>
    </div>
</div>
