<div class="nav">
  <div class="shaddow"></div>
  <div class="controls">
    <a class="previous">
      <span class="btn right arrow"></span>
    </a>
    <a class="exit enabled">
      <span class="btn up arrow"></span>
    </a>
    <div class="progress">
      <div class="complete"></div>
      <div class="active"></div>
    </div>
    <a class="next">
      <span class="btn left arrow"></span>
    </a>
  </div>
</div>
