<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bible Soap Opera{% endblock %}</title>

    <style>{% include '../../../temp/min.css' %}</style>
  </head>
  <body>

    {% include '../../Screen/Menu/Menu.twig' %}

    <div class="screen active Title">
      {% include '../../Screen/Title/Title.twig' %}
    </div>

    <script type="application/javascript">{% include '../../../temp/min.js' %}{% block execute %}{% endblock %}</script>
  </body>
</html>
