<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bible Soap Opera{% endblock %}</title>

    <style>{% include '../../../temp/min.css' %}</style>
    {% include './analytics.twig' %}
  </head>
  <body>

    {% include '../../screen/loading/loading.twig' %}
    {% include '../../screen/menu/menu.twig' %}
    {% include '../../screen/slide/slide.twig' %}
    {% include '../../screen/slide/feedback.twig' %}

    {% include '../../screen/audio/audio.twig' %}
    {% include '../../screen/pick/pick.twig' %}
    {% include '../../screen/slider/slider.twig' %}

    <div class="screen active title">
      {% include '../../screen/title/title.twig' %}
    </div>

    {% include './nav.twig' %}

    <script type="application/javascript">{% include '../../../temp/min.js' %}{% block execute %}{% endblock %}</script>
  </body>
</html>
