<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Bible Soap Opera Demo{% endblock %}</title>

        <link rel="icon shortcut" type="image/png" href="data:image/png;base64,{% include '../../../temp/favicon.base64' %}" />

        <style>{% include '../../../temp/min.css' %}</style>
    </head>
    <body>

        {% include 'loading.twig' %}

        {% include '../../Screen/Screen.twig' %}
        {% include '../../Screen/Title/Title.twig' %}

        <script type="application/javascript">{% include '../../../temp/min.js' %}{% block execute %}{% endblock %}</script>
    </body>
</html>
