<div class="template" data-slide="base">
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner'>
                </div>
            </div>
        </div>
    </div>
</div>
