<template data-slide='title'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner title'>
                    <h1></h1>
                    <p class='subtitle'></p>
                </div>
            </div>
        </div>
    </div>        
</template>
