<template data-slide='title'>
    <div class='slide'>
        <div class='slide-inner'>
            <div class='slide-container'>
                <div class='slide-container-inner'>
                    <h1 data-var='title'></h1>
                    <p class='subtitle' data-var='subtitle'></p>
                </div>
            </div>
        </div>
    </div>        
</template>
