<div class='top-nav'>
    <div class='inner'>
        <div class='container'>
            <div class='container-inner'>
                <div class='nav-table'>
                    <div class='summary'>
                        <div class='summary-table'>
                            <div class='summary-cell'>
                                <div class='title'>Title</div>
                                <div class='sub-title'>Sub title</div>
                            </div>
                        </div>
                    </div>
                    <div class='sections'>
                        <div class='sections-table'>
                            <div><div class='info'><span class='icon'></span>section 1</div></div>
                            <div><div class='discuss'><span class='icon'></span>section 2</div></div>
                            <div><div class='listen'><span class='icon'></span>section 3</div></div>
                            <div><div class='discuss'><span class='icon'></span>section 4</div></div>
                            <div><div class='listen'><span class='icon'></span>section 5</div></div>
                            <div><div class='discuss'><span class='icon'></span>section 6</div></div>
                            <div><div class='info'><span class='icon'></span>section 7</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='toggle'></div>
    <div class='thumbs'><div class='info'></div><div class='discuss'></div><div class='listen'></div><div class='listen'></div></div>
</div>
