<div class='top-nav'>
    <div class='inner'>
        <div class='container'>
            <div class='container-inner'>
                <div class='nav-table'>
                    <div class='summary'>
                        <div class='summary-table'>
                            <div class='summary-cell'>
                                <div class='title'></div>
                                <div class='sub-title'></div>
                            </div>
                        </div>
                    </div>
                    <div class='sections'>
                        <div class='sections-table'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='toggle'>
        <div class='sprite chevron'></div>
    </div>
    <div class='thumbs'></div>
</div>
