<div class='template audio'>
  <p class='text'></p>
  <div class="track-container">
    <div class="track">
      <div class='progress'></div>
    </div>
    <div class="grip"></div>
  </div>
  <a class='btn round play pulse'></a>
</div>
