.screen.title {

  .wrap {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
  }

  .logo {
    width: 30vw;
    height: 30vw;
    border-radius: 3vw;
  }

  .text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-align-items: flex-start;

    padding-left: 6vw;

    a {
      align-self: flex-end;
      margin-top: 7vw;
    }
  }
}
