<div class="template Title">
  <div class="icon-box shaddow"></div>
  <div class="text">
    <p>Bible Soap Opera</p>
    <p class="font1">Learn the whole bible.<br />Find Jesus in every story.</p>
  </div>
  <button class="round down"></button>
</div>
