.screen.Title {
  .logo {
    width: 30vw;
    height: 30vw;
    border-radius: 3vw;
  }

  .text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 6vw;

    a {
      align-self: flex-end;
      margin-top: 7vw;
    }
  }
}
