<div class="logo shaddow"></div>
<div class="text">
  <p>Bible Soap Opera</p>
  <p class="font2">Learn the whole bible.</p>
  <p class="font2">Find Jesus in every story.</p>
  <a href="#menu" class="btn round down arrow"></a>
</div>

