<div class="template Title">
  <div class="logo shaddow"></div>
  <div class="text">
    <p class="title"></p>
    <p class="font2 tagline"></p>
  </div>
  <a href="#menu" class="btn round down arrow"></a>
</div>
